/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  text-align: left;
}

.container h3:not(:first-child) {
  font-weight: normal;
}

.title-line {
  height: 3px;
  background: linear-gradient(to right, rgb(89, 89, 195) 50%, lightblue 50%);
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 50%;
  margin-top: 0;
}

.button {
  flex-grow: 1;
  height: 100%;
  font-size: 18px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info-button {
  background-color: none;
  width: 110px;
}

.cronograma-button {
  background-color: none;
}

.button-line {
  height: 3px;
  background-color: yellow;
  width: 100%;
  margin-top: 5px;
}

.button.selected {
  background-color: #F1EBEA;
  color: #000000;
}

/*** Estilos de formulario ***/
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 40%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 200%;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group-horizontal {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
  /* Cambio a column */
}

.form-group-horizontal label {
  margin-right: 10px;
  flex-basis: 20%;
}

.form-group-horizontal .input-container {
  position: relative;
  width: 124%;
  display: flex;
  align-items: center;
}

.form-group-horizontal select {
  width: 100%;
  padding-right: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20% auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  max-width: 150%;
}




.form-group-horizontal i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

input[type="text"],
select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid gray;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
  height: 30px;
}

.input-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

#presupuesto {
  width: 200px;
}

input[type="text"]:focus {
  border-color: black;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(13, 188, 63);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.search-container {
  position: relative;
  width: 649px;
  /* Ajusta el ancho según tus necesidades */
  height: 30px;
  /* Ajusta la altura según tus necesidades */
}

#actividad {
  width: 100%;
  /* El input ocupa todo el ancho disponible en el contenedor */
  height: 100%;
  /* El input ocupa toda la altura disponible en el contenedor */
  padding-right: 30px;
  /* Agrega un espacio a la derecha para el ícono de búsqueda */
}


#search-icon {
  position: absolute;
  top: 66%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}