<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo de Procesos / Eventos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <script src="https://kit.fontawesome.com/30b4534508.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <button id="procesosEventosBtn">Procesos / eventos</button>
    <div class="image-container">
      <img src="../img/banner.png" alt="Imagen">
    </div>
  </div>

  <div id="botonesContainer">
    <button id="crearBtn" class="crearBtn">
      <i class="fas fa-pencil-alt"></i><br>
      <span>Crear</span>
    </button>
    <button class="copiarBtn">
      <i class="fa fa-copy"></i><br>
      Copiar</button>
    <button class="consultarBtn">
      <i class="fa fa-magnifying-glass-plus"></i>
      Consultar
    </button>
  </div>

  <footer class="footer">
    <div class="footer-content">
      Acceder
    </div>
  </footer>

  <script src="../js/script.js"></script>
</body>

</html>